.chaptersContainer {
  background-color: black;
  padding-top: 70px;
  min-height: 100vh;
}

.searcher {
  background-color: rgb(240, 248, 255, 0.6);
  width: 100%;
  padding: 2vw 0;
  border: none;
  margin: 0 0 3vw 0;
  font-size: 5vw;
}

.chapterContainer {
  border: solid 5px rgb(47, 4, 4);
  border-radius: 10px;
  margin: 0 3vw 3vw 3vw;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 4.3vw;
  color: white;
}

.thumb {
  width: 16vw;
  height: 16vw;
  margin: 3vw 5vw 2vw 3vw;
  border-radius: 50%;
}

.list_name {
  width: 61vw;
  margin: 3vw 3vw 0 0;
}

.time {
  margin: 2vw 0 0 0;
}

.spotify_link {
  width: 100%;
  text-align: center;
  margin: 3vw 0 3vw 0;
}

.chap_link {
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chap_link::after {
  color: bisque;
}

@media screen and (min-width: 768px) {
  .searcher {
    background-color: rgb(240, 248, 255, 0.6);
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    margin: 0 0 3rem 0;
    font-size: 2rem;
  }

  .chaptersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .chapterContainer {
    width: 25%;
    height: 15rem;
    font-size: 1rem;
  }

  .image_container {
    width: 25%;
    height: 50%;
  }

  .thumb {
    width: 65%;
    height: auto;
    border-radius: 50%;
    margin: 30px 1rem 0 1rem;
  }

  .list_name {
    width: 60%;
    height: fit-content;
    margin: 30px 30px 0 0;
  }

  .time {
    margin-top: 1rem;
  }

  .spotify_link {
    margin: 0;
    height: 20px;
  }
}
