* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.babylonica {
  font-family: 'Babylonica', cursive, sans-serif;
}

.gloock {
  font-family: 'Gloock', serif, sans-serif;
}

.garamond {
  font-family: 'EB Garamond', serif;
}