#dejame_container {
  margin: 0 3vw 5vw 3vw;
  border: solid 3.5px rgb(47, 4, 4);
  border-radius: 10px;
  align-content: center;
}

.cuento_content {
  align-items: center;
}

#main_subtitle {
  font-size: 7.5vw;
  font-weight: 400;
  font-style: italic;
  color: #e2e1da;
}

.ultimo {
  font-size: 6vw;
  font-weight: 400;
  color: #e2e1da;
}

.main_image {
  width: 80vw;
  height: 80vw;
  margin: 0 0 3vw 0;
}

.description {
  font-size: 4.5vw;
  margin: 0 2vw;
  font-family: 'EB Garamond', serif, sans-serif;
  font-style: italic;
  color: #e2e1da;
}

.release {
  font-size: 4.5vw;
  font-family: 'EB Garamond', serif, sans-serif;
  font-style: italic;
  color: #e2e1da;
}

.divisor {
  width: 35vw;
  border: 2px solid rgb(47, 4, 4);
  border-radius: 25%;
  margin: 10vw 29vw;
}

#ultimo_rapidin {
  margin: 0 0 5vw 0;
}

.rapidin_release {
  margin: 0 0 5vw 0;
}

@media screen and (min-width: 768px) {
  #dejame_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main_subtitle {
    font-size: 4vw;
    width: 100%;
  }

  .cuento_content {
    width: 40%;
  }

  .main_image {
    width: 100%;
    height: auto;
  }

  .divisor {
    margin: 0 5vw 4vw 5vw;
    width: 1px;
  }

  .damian {
    font-size: 8vw;
  }

  .ultimo {
    margin-top: 0;
    font-size: 2.5vw;
  }

  .release,
  .description {
    font-size: 1.2vw;
  }
}
