@font-face {
  font-family: veteran;
  src: url('../miselaneus/veteran.ttf');
}

#header {
  background-color: black;
  color: antiquewhite;
  height: 20vw;
  align-items: center;
}

#title {
  font-family: veteran, sans-serif;
  font-size: 6vw;
  margin: 0 3vw 0 3vw;
}
