#main_container {
  background-color: black;
  padding: 5vw 0 0 0;
  color: white;
}

.damian_image {
  background-image: url('../images/damian.jpg');
  background-size: contain;
  width: 40vw;
  height: 60vw;
  margin: 0 4vw 5vw 3vw;
}

#about_me {
  margin: 0 3vw 0 0;
  width: 50vw;
  height: 60vw;
  overflow-x: scroll;
  font-size: 4.25vw;
}

#footer_divisor {
  width: 100%;
  border: 1px solid wheat;
  margin: 20vw 0 0 0;
}

#social_media {
  padding: 6vw 0;
  justify-content: space-around;
}

@media screen and (min-width: 768px){
  #me {
    justify-content: center;
  }
  .damian_image {
    height: 21vw;
    width:14vw;
  }

  #about_me {
    font-size: 1.1vw;
    margin: 0;
    line-height: 2vw;
    height: 30vw;
    overflow-x: hidden;
  }
}