#main_container {
  background-color: black;
  padding: 5vw 0 8vw 0;
  color: white;
}

.damian_image {
  background-image: url('../images/damian.jpg');
  background-size: contain;
  width: 40vw;
  height: 60vw;
  margin: 0 4vw 5vw 3vw;
}

#about_me {
  margin: 0 3vw 0 0;
  width: 50vw;
  height: 60vw;
  overflow-x: scroll;
  font-size: 4.25vw;
}