#nav {
  background-color: black;
  justify-content: space-around;
  align-items: center;
  height: 8vw;
}

.style {
  text-decoration: none;
  color: antiquewhite;
  font-size: 4.5vw;
}

.activeLink {
  color: rgb(255, 179, 179);
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
