#notFound {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 9rem 5rem 0 3rem;
  line-height: 4rem;
  overflow-y: scroll;
}

.notFoundMesagge {
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 1px rgb(100, 0, 0);
}

#firma {
  background-image: url('../images/firma.png');
  background-repeat: no-repeat;
  width: 14rem;
  height: 10rem;
  background-size: contain;
}

#image {
  background-image: url('../images/e404.png');
  background-repeat: no-repeat;
  width: 20rem;
  height: 20rem;
  background-size: contain;
}

.text-justify {
  text-align: justify;
}
